:root{
    --color-bg-1:rgb(78, 80, 97);
    --color-bg-2:rgb(38, 42, 49);
    --color-bg-3:rgba(0, 0, 0, 0.5);
    --color-border-1:rgba(0, 0, 0, 0.5);

    --color-nav-bg:rgb(0, 0, 0);
}

*{
    /*color : rgb(163, 76, 76);*/
}

html {
    font-family: sans-serif;
}

body {
    color: rgb(204, 197, 197);
    background-color: var(--color-bg-1);
    /*height: 100%;*/
    min-height: 100%;
    position: relative;

    /*background-image: url('BigFish.jpg');*/
    background-size: cover;
    z-index: 5;
}

header {
    background-color: var(--color-bg-2);
    height: 150px;
    text-align: left;
    
    /*
    box-shadow: 25px rgba(1 0 0 1);
    border-radius: 30px;
    */

    margin: 0px 0px;

    z-index: 20;
}

header h1 {
    /*
    background-color: red;
    */
    padding: 25px 0px 25px 25px;

    margin: 0;
    border: 3px solid var(--color-border-1);
}

.nav-header
{
    width: 100%;
    margin: 0;
    padding: 0;

    display: block;
    
    background-color: var(--color-nav-bg);
    overflow: hidden;
}

.nav-header-list
{
    list-style-type: none;
    position: relative;

    float: right;
}

.header-list-elem
{
    float: left;
}

.header-list-elem a
{
    display: block;
    text-align: center;
    border: 3px solid rgb(16, 17, 16);

    color: white;
    text-decoration: none;

    padding: 16px;
}

.header-list-elem a:hover
{
    background-color: rgb(97, 155, 182);
}

main {
    text-align: center;

    position: relative;
    height: 100%;
    padding: 100px;
}

.mainContent {
    background-color: var(--color-bg-3);
    min-width: 500px;
    max-width: 1000px;

    height: 80%;
    padding: 45px;

    margin-top: 10px;
    margin-bottom: 160px;
    margin-left: auto;
    margin-right: auto;

    display: inline-block;
}

footer {
    width: 100%;
    height: 130px;
    position: fixed;
    bottom: 0px;
    background-color: var(--color-bg-2);
    border: 3px solid var(--color-border-1);
}

h1 {
    
}

ul {
    /*
    width: 40%;
    position: relative;
    list-style-type: none;
    overflow: hidden;
    */
}

button {
    font-size: 23px;
    padding: 25px;
}

.spambox {
    padding: 0;
    width: 20px;
    position: relative;
    margin: 0;
    text-align: 0;
}

/*--------------------------------------------------------------------------*/
/*Nav Sidebar*/
#navIcon {
    width: 50px;
    height: auto;
    position: fixed;
    top: 250px;
    left: 10px;
    box-shadow: 0 0 20px black;

    display: inline-block;
    transition: 0.5s;
}

#navIconImage {
    display: block;
    flex-grow: 1;
    width:auto;
    height:auto;

    max-height:100%;
    max-width:100%;
}

.navIconOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    opacity: 0;
    height: auto;
    width: auto;
    /*
    */
    transition: .3s ease;
    background-color: rgba(163, 197, 207, 0.479);
}

#navIcon:hover .navIconOverlay {
    opacity: 1;
}

/*--------------------------------------------------------------------------*/
/*Sidebar*/
.sidebar
{
    background-color: rgb(177, 177, 177);
    width: 0px;
    height: 100%;

    position: fixed;
    z-index: 10;

    top: 0;
    left: 0;

    border-right: 3px solid rgb(0, 0, 0);

    overflow-x: hidden;
    transition: 0.5s;
}

.sideBar-content
{
    color: rgb(24, 24, 24);

    transition: 0.3s;

    position: relative;
    font-size: 35px;
    padding: 10px 10px 10px 20px;

    display: block;
}