html {
    font-family: sans-serif;
}

body {
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: 80px;
    margin-left: 140px;
    margin-right: 140px;
}

/* HEADER */
header {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 5;
}

.HeaderTitle {
    display: flex;
    flex:0%;
    justify-content: space-between;
    flex-wrap: wrap;
    float: left;

    padding-left: 50px;
}

header nav {
    display: flex;
    justify-content: space-between;
    flex:0%;
    flex-wrap: wrap;
    flex-direction:row;
    float: right;

    position: absolute;
    top: 50%;
    right: 0px;

    text-align: right;
    
    padding-right: 30px;
    padding-left: 210px;
    transform: translateY(-50%);
}

header ul {
    float: right;

    list-style: none;
}

.header-nav-button {
    background-color: rgba(199, 59, 59, 0.959);
    margin-right: 5px;
    margin-bottom: 5px;
    width: 120px;
    padding-bottom: 0px;

    float: right;
}

.header-nav-button a {
    color: white;
    text-decoration: none;

    padding-right: 10px;
}

canvas 
{
    border: 1px solid rgba(255, 255, 255, 0.377);
}

.range-slider 
{
    width: 80%;
}

.slider-value
{
    display: flex;
    background-color: rgba(63, 63, 63, 0.377);
}

.toolContainer-01
{
    background-color: rgb(51, 51, 51);
}

.toolHeader-01
{
    display: inline-block;
    width: 80%;
}

.link1 {
    font-size: 20px;
}

.link1:visited {
    color: rgb(199, 142, 199);
}

.Resume {
    padding-top: 200px;
    margin-top: 200px;
}

.hidden {
    display: none;
}