
.project-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    
    flex-wrap: wrap;
    
    margin-top: 150px;
}

.projectButton {
    display: inline-block;
    width: 300px;
    height: 300px;

    overflow-x: auto;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition: transform 0.3s;

    font-family: Arial, sans-serif;
    color: white; 
    text-align: center;
    color: transparent;
}

.project-content-header {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.project-content {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}

#projectBtn-gow {
    background-image: url("../Resources/Projects/GoW2018Cover.webp");
}

#projectBtn-judas {
    background-image: url("../Resources/Projects/judas-img.jpg");
}

#projectBtn-tanuki {
    background-image: url("../Resources/Projects/Tanuki/MistyMorning.png");
}

#projectBtn-levelGenerator {
    background-image: url("../Resources/Projects/levelGen_img.png");
}

#projectBtn-EWA {
    background-image: url("../Resources/Projects/EWA/EWA_Redacted.png");
}